/*
 * Globals
 */
 .register{
     text-decoration: line-through;
 }
 .vCenter{
     display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
 }
 .centerDiv{
     margin:0 auto;
 }

.hiddenA{
    display:none;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.eventiFrame{
    min-height: 1000px;
}
.summerImage{
    width:50%;
}
.dropdown-menu > li > a{
    color: white;
}
.dropdown-header{
    color: rgb(210, 210, 210);
    font-weight: bold;
    font-size: 1.2em;
}
.dropdown-menu {
    background-color: rgba(0,0,0,.75);;
    border: 1px solid rgba(0,0,0,.9);
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /*border-color: #337ab7;*/
    color:white;
}


/*
 * Base structure
 */
html{
    height: 100%;
}
body {
  height: 100%;
  background-color: #333;
  background-image:url("Images/bg.jpg");
  background-size: 2272px, 1704px;
      background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  color: #fff;
  text-align: center;
  
  text-shadow: 0 3px 7px rgba(0,0,0,1),
    -1px -1px 2px rgba(0,0,0,.5),  
    1px -1px 2px rgba(0,0,0,.5),
   -1px  1px 2px rgba(0,0,0,.5),
    1px  1px 2px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.85);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */


.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    background-color: rgba(0, 0, 0, 0.25)
  }
  .cover {
  padding:110px 20px;
}
}

/*@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}*/